# Switch de Branch - diretórios que serão exibidos no aplicativo.
# Use uma linha nome=CAMINHO para cada repositório.
# Depois de salvar este arquivo, clique em "Recarregar" no programa.

[Repositories]
DelphiSGA=C:\Desenvolvimento\DelphiSGA
DelphiSgaAvulsos=C:\Desenvolvimento\DelphiSgaAvulsos
DelphiSGACodex=C:\Desenvolvimento\DelphiSGACodex
DelphiSGACodex2=C:\Desenvolvimento\DelphiSGACodex2
